NODE_ENV=production
PORT=5000
CLIENT_URL=https://your-app-name.up.railway.app

# MySQL (Railway provides these)
MYSQL_HOST=containers-us-west-194.railway.app
MYSQL_PORT=port
MYSQL_DATABASE=railway
MYSQL_USER=root
MYSQL_PASSWORD=password

# JWT_SECRET generate one
JWT_SECRET=your-secret-key