node_modules/
.env
.env.local
.env.example
server/.env
*.log
.DS_Store
client/node_modules/
server/node_modules/
client/.eslintcache
**/.eslintcache
server/database.sqlite
client/node_modules/.cache/

